<div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Esta seguro que quiere eliminar estos datos?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" matDialogClose>Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="eliminarDatos()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>